@{
    ViewBag.Title = "About";
}

<style type="text/css">
    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
</style>


<table style="margin-left:auto; margin-right:auto;">
    <tr>
        <td rowspan="5">
            <div class="btn-group show-on-hover">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:250px;">
                    <span class="uneclasse" style="text-align:left;">Chercher par salle</span><span class="glyphicon glyphicon-search"></span>
                </button>
                <ul class="dropdown-menu" role="menu" style="width:250px;">
                    <li><a href="#">Metropolis</a></li>
                    <li><a href="#">Centre Bell</a></li>
                    <li><a href="#">Parc Jean Drapeau</a></li>
                    <li><a href="#">New City Gas</a></li>
                </ul>
            </div>
        </td>
        <td rowspan="5">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="  search-query form-control" placeholder="Chercher par artiste" />
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Jeunesse
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Theatre
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Musique
                </label>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Cirque
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Humour
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Sport
                </label>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Festival
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Arts
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    Cinéma
                </label>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <button class="btn btn-info btn-block btn-pressure btn-sensitive">Chercher par catégorie</button>
        </td>
    </tr>
</table>

