@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style type="text/css">
    #madiv {
        height: 500px;
        overflow: auto;
        background-color: lightgrey;
    }
</style>


<div id="madiv">
    <div style="width:98%; padding-left:25px;">
        <article class="search-result row">
            <div class=" col-md-2">
                <ul class="meta-search" style="color:black; font-size:18px;">
                    <li><i class="glyphicon glyphicon-barcode"></i> <span>#5</span></li>
                    <li><i class="glyphicon glyphicon-calendar"></i> <span>15 Juin 2015</span></li>
                    <li><i class="glyphicon glyphicon-print"></i> <span>Imprimé</span></li>
                    <li><i class="glyphicon glyphicon-usd"></i> <span>400</span></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                <h3><a href="#" title="">blablab</a></h3>
                <p>blablaba</p>
            </div>
        </article>
        <hr style="height: 1px; border: none; margin: 0px; color: gray; background-color: gray;" />
        <article class="search-result row">
            <div class=" col-md-2">
                <ul class="meta-search" style="color:black; font-size:18px;">
                    <li><i class="glyphicon glyphicon-barcode"></i> <span>#5</span></li>
                    <li><i class="glyphicon glyphicon-calendar"></i> <span>15 Juin 2015</span></li>
                    <li><i class="glyphicon glyphicon-print"></i> <span>Imprimé</span></li>
                    <li><i class="glyphicon glyphicon-usd"></i> <span>400</span></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                <h3><a href="#" title="">blablab</a></h3>
                <p>blablaba</p>
            </div>
        </article>
        <hr style="height: 1px; border: none; margin: 0px; color: gray; background-color: gray;" />
        <article class="search-result row">
            <div class=" col-md-2">
                <ul class="meta-search" style="color:black; font-size:18px;">
                    <li><i class="glyphicon glyphicon-barcode"></i> <span>#5</span></li>
                    <li><i class="glyphicon glyphicon-calendar"></i> <span>15 Juin 2015</span></li>
                    <li><i class="glyphicon glyphicon-print"></i> <span>Imprimé</span></li>
                    <li><i class="glyphicon glyphicon-usd"></i> <span>400</span></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                <h3><a href="#" title="">blablab</a></h3>
                <p>blablaba</p>
            </div>
        </article>
        <hr style="height: 1px; border: none; margin: 0px; color: gray; background-color: gray;" />
        <article class="search-result row">
            <div class=" col-md-2">
                <ul class="meta-search" style="color:black; font-size:18px;">
                    <li><i class="glyphicon glyphicon-barcode"></i> <span>#5</span></li>
                    <li><i class="glyphicon glyphicon-calendar"></i> <span>15 Juin 2015</span></li>
                    <li><i class="glyphicon glyphicon-print"></i> <span>Imprimé</span></li>
                    <li><i class="glyphicon glyphicon-usd"></i> <span>400</span></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 excerpet" style="width:70%;">
                <table style="width: 100%; color: black; font-size: 15px;">
                    <tr>
                        <td> 1. Martin Garix </td>
                        <td> <span class="glyphicon glyphicons-google-maps"></span> New City Gas </td>
                        <td> Section VIP </td>
                        <td> <span class="glyphicon glyphicons-calendar"></span> 15 Juin 2015 19h30 </td>
                        <td> <span class="glyphicon glyphicons-sampler"></span> 4 billets </td>
                        <td> <span class="glyphicon glyphicons-coins"></span> 30$ </td>
                    </tr>
                    <tr>
                        <td> 2. Martin Garix </td>
                        <td> <span class="glyphicon glyphicons-google-maps"></span> New City Gas </td>
                        <td> Section VIP </td>
                        <td> <span class="glyphicon glyphicons-calendar"></span> 15 Juin 2015 19h30 </td>
                        <td> <span class="glyphicon glyphicons-sampler"></span> 4 billets </td>
                        <td> <span class="glyphicon glyphicons-coins"></span> 30$ </td>
                    </tr>
                    <tr>
                        <td> 3. Martin Garix </td>
                        <td> <span class="glyphicon glyphicons-google-maps"></span> New City Gas </td>
                        <td> Section VIP </td>
                        <td> <span class="glyphicon glyphicons-calendar"></span> 15 Juin 2015 19h30 </td>
                        <td> <span class="glyphicon glyphicons-sampler"></span> 4 billets </td>
                        <td> <span class="glyphicon glyphicons-coins"></span> 30$ </td>
                    </tr>
                </table>
            </div>
        </article>
    </div>
</div>

@* v.nbrebillet, s.nom, b.ladateheure, b.prix, sa.nom, se.nom *@
@* glyphicons-sampler, glyphicons-google-maps, glyphicons-star, glyphicons-calendar, glyphicons-coins  *@





